[Unit]
Description=Kubernetes Node Manager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3
PIDFile=/run/nodemanager/nodemanager.pid
ExecStart=/usr/bin/nodemanager
EnvironmentFile=/etc/nodemanager.env

[Install]
WantedBy=multi-user.target
